#projects {
    width: 100%;
    background-color: #dcdcdc;
  }
  #projects h2{
    color: #404040;
    margin-bottom: 2rem;
  }


  #projects .col-right {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      margin-top: 2rem;
  }
  #projects .col-left h2 {
    position: relative;
  }
  
  #projects .col-left h2::before {
    content: '';
    height: 2px;
    width: 100%;
    background: var(--color-gradiente);
    position: absolute;
    top: 100%;
    left: 0;
  }
  
  #projects .col-left h2::after {
    content: '';
    height: 2px;
    width: 50%;
    background: var(--color-gradiente);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .project-img img{
      width: 100%;
      display: none;
  }

  #projects .btn {
    width: 70%;
    border-radius: 3px;
}