#resume {
  width: 100%;
  background-color: #dcdcdc;
}
#resume h2{
  color: #404040;
  margin-bottom: 2rem;
}



#resume p span {
  font-style: italic;
  font-weight: bold;
}

#resume .technologies{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#resume p {
  margin-bottom: 1rem;
}

#resume .info {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}



#resume .technologies .col-right > p{
  margin-top: 2rem;
}