#about {
    width: 100vw;
    background-color: #101010;
}

#about .col-left img {
    display: none;
    width: 30rem;
    border-radius: 10px;
}

#about .col-right h2 {
    background: var(--color-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;  
}

#about .col-right p {
    margin-bottom: 1.5rem;
}

#about .social-media {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#about .btn {
    width: 100%;
    margin-top: 2rem;
    border-radius: 3px;
}