#about {
    width: 100vw;
    background-color: #101010;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 5rem;
    display: none;
}

.col-left img {
    width: 30rem;
    border-radius: 10px;
}

.col-right {
    width: 75%;
}

.col-right h2 {
    color: var(--fc-secondary);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;  
}

.col-right p {
    color: var(--fc-quaternary);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin-bottom: 3rem;
}

hr {
    border: 1px solid var(--fc-quaternary);
    outline: none;
}