#home {
    background: url(../../assets/images/header-bg.png) no-repeat;
    background-position: right;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 8rem 5rem 10rem;
}

.header-text  h1 {
    color: var(--fc-primary);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;  
}
.header-text  h2 {
    color: var(--fc-secondary);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;  
}
.header-text p {
    color: var(--fc-tertiary);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    font-family: 'Raleway', sans-serif;
}

.header-image img {
    animation: updown 3s linear infinite;
  }
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}