:root {
font-size: 62.5% !important;
--fc-primary: #FFFFFF; 
--fc-secondary: #e8e8e8; 
--fc-tertiary: #8a8a8b; 
--fc-quaternary: #717172; 
--ff-primary: 'Raleway', sans-serif;
--color-gradiente: linear-gradient(95deg, rgba(170, 54, 124, 0.95), rgba(74, 47, 189, 0.95))

}

body {
width: 100vw;
background-color: black;
}
